table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {*/
/*    background-color: #dddddd;*/
/*}*/

.pad5 {
    padding: 5px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.buttonView {
    padding: 5px 34px;
}

.tdViewButton {
    text-align: center;
}

.my-modal {
    height: 150px;
    overflow-y: scroll;
}

info-modal .modal-content {
    background: #FF8C0A;
}

.pagingButtons {
    padding: 30px 10px;
}

.main-modal {
    max-height: 700px;
    overflow-y: scroll;
}