table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.selectStyle {
    margin-bottom: 10px;
    padding: 5px;
    maxWidth: 300;
}
.padl5{
    padding: 5px;
}