.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pedl5{
     padding: 5px;
}

.pedlLeft5{
    padding-right: 5px;
    padding-bottom: 20px;
}

.pedlTop4{
    padding-top: 4px;
}
.pedlTop5{
    padding-top: 10px;
    width: 250px
}

.imgCard{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.box{
    width: 40%;
    float: left;
    margin: 50px 20px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

.box h4{
    margin-bottom: 10px;
}

.box p{
    font-size: 15px;
    line-height: 28px;
    height: 60px;
    overflow: hidden;
}

.bpx a{
    display: inline-block;
    color: #ffffff;
    background-color: #2196f3;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.box a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.box.showContent p{
    height: auto;
}

.box.showContent a.ui-button{
    background-color: #f44336;
}

.key {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {top: 0px;}
    to {top: 200px; background-color: blue;}
}

.signUpColor{
    background-color: #D4186D !important;
    color: #f44336 !important;
}

.gold {
    color: white;
    text-shadow: -1px 1px 1px rgb(97, 100, 5);
    font-size: 21px;
    font-family: Arial;
    color: #BF7F00;
    padding: 15px;
    position: absolute;
}

.cardSize {
    width: 270px;
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.iconImgPos{
    padding-right: 3px;
    width:60px;
    float: right;
}

.ReactCollapse--collapse {
    max-width: 1800px;
    border: 1px solid rgba(3, 169, 244, 0);
    border-radius: 10px;
    transition: height 500ms;
}

.cardButtonSize{
    width: 270px;
    height: 26px;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
}

.child{
    width: calc(25% - 10px);
    margin-left: 10px;
    margin-top: 10px;
}